@model List<Card>

<div class="container">
	<div class="row">

		<a class="btn btn-success" asp-action="Create">Create</a>
		<table class="table table-hover table-dark">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">ImagePath</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>

				@foreach (Card card in Model)
				{
					<tr>
						<th scope="row">@card.Id</th>
						<td>@card.Title</td>
						<td>@card.Description</td>
						<td> <img src="~/assets/images/website-images/@card.ImagePath" width="30" height="30" alt="Alternate Text" /></td>
						<td>
							@* <a class="btn btn-warning">Update</a> *@
							<a asp-action="Update" asp-route-id="@card.Id" class="btn btn-warning">Update</a>
							<a asp-action="Delete" asp-route-id="@card.Id" class="btn btn-danger">Delete</a>
						</td>

					</tr>
				}



			</tbody>
		</table>
	</div>
</div>
