@model ProductUpdateVM
<div class="container">
	<div class="row">

		<h2>Update Product</h2>

		<form method="post" enctype="multipart/form-data">

			<div class="form-group">
				<label for="title">Name</label>
				<input asp-for="Name" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Name">
				<span class="text-danger" asp-validation-for="Name"></span>
			</div>

			<div class="form-group">
				<label for="Description">Description</label>
				<input asp-for="Description" class="form-control" id="Description" aria-describedby="emailHelp" placeholder="Description">
				<span class="text-danger" asp-validation-for="Description"></span>
			</div>

			@* <div class="form-group">

				<label for="MainImage">Main Image</label>
				<input asp-for="MainImage" class="form-control" id="MainImage" aria-describedby="emailHelp" placeholder="MainImage">
				<span class="text-danger" asp-validation-for="MainImage"></span>
			</div> *@

			<div class="form-group">
				<input type="hidden" asp-for="MainImagePath" />
				<img src="~/assets/images/website-images/@Model.MainImagePath" width="50" heigth="50" alt="Alternate Text" />
				<label for="MainImage">MainImage</label>
				<input asp-for="MainImage" class="form-control" id="MainImage" placeholder="MainImage">
				<span class="text-danger" asp-validation-for="MainImage"></span>
			</div>

			@* <div class="form-group">
				<label for="HoverImage">Hover Image</label>
				<input asp-for="HoverImage" class="form-control" id="HoverImage" aria-describedby="emailHelp" placeholder="HoverImage">
				<span class="text-danger" asp-validation-for="HoverImage"></span>
			</div> *@

			<div class="form-group">
				<input type="hidden" asp-for="HoverImagePath" />
				<img src="~/assets/images/website-images/@Model.HoverImagePath" width="50" heigth="50" alt="Alternate Text" />
				<label for="HoverImage">Hover Image</label>
				<input asp-for="HoverImage" class="form-control" id="HoverImage" placeholder="HoverImage">
				<span class="text-danger" asp-validation-for="HoverImage"></span>
			</div>

			<div class="form-group">


				@for (int i = 0; i < Model.AdditionalImagePaths.Count; i++)
				{
					<div class="imageDiv" style="display:inline">
						<input type="hidden" asp-for="AdditionalImagePaths" value="@Model.AdditionalImagePaths[i]" />
						<input type="hidden" asp-for="AdditionalImageIds" value="@Model.AdditionalImageIds[i]" />

						<div class="image" style="position:relative;width:50px;height:50px;display:inline">
							<img src="~/assets/images/website-images/@Model.AdditionalImagePaths[i]" width="50" heigth="50" alt="Alternate Text" />
							<span class="closeButton" style="position:absolute;right:4px;top:-4px;padding:1px;background-color:red;color:white;font-size:10px;cursor:pointer">X</span>
						</div>
					</div>
				}

				<label for="Images">Images</label>
				<input asp-for="Images" class="form-control" id="Images" placeholder="Images">
				<span class="text-danger" asp-validation-for="Images"></span>
			</div>

			<div class="form-group">
				<label for="Price">Price</label>
				<input asp-for="Price" class="form-control" id="Price" aria-describedby="emailHelp" placeholder="Price">
				<span class="text-danger" asp-validation-for="Price"></span>
			</div>

			<div class="form-group">
				<label for="Rating">Rating</label>
				<input asp-for="Rating" class="form-control" id="Rating" aria-describedby="emailHelp" placeholder="Rating">
				<span class="text-danger" asp-validation-for="Rating"></span>
			</div>

			<div class="form-group">
				<label for="CategoryId">CategoryId</label>

				<select asp-for="CategoryId" id="CategoryId">

					<option value="null" disabled selected>Choose Category</option>
					@foreach (Category category in ViewBag.Categories)
					{
						<option value="@category.Id">@category.Name</option>

					}
				</select>

				<span class="text-danger" asp-validation-for="CategoryId"></span>
			</div>

			<div class="form-group">
				<label for="TagIds">Tags</label>

				<select asp-for="TagIds" id="TagIds">

					@foreach (Tag tag in ViewBag.Tags)
					{
						<option value="@tag.Id">@tag.Name</option>

					}
				</select>

				<span class="text-danger" asp-validation-for="TagIds"></span>
			</div>


			<button type="submit" class="btn btn-primary">Submit</button>
			<a asp-action="Index" class="btn btn-secondary">Cancel</a>
		</form>

	</div>
</div>

<script>

	const removeButtons = document.querySelectorAll(".closeButton");

	removeButtons.forEach(btn=>{
		btn.addEventListener("click", (e)=>{
			e.preventDefault();

			btn.parentElement.parentElement.remove();
		})
	})

</script>